<component name="ArtifactManager">
  <artifact type="war" name="SpringMvcZkShiroDemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMvcZkShiroDemo.war">
      <element id="artifact" artifact-name="SpringMvcZkShiroDemo:war exploded" />
    </root>
  </artifact>
</component>